body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.contenedor-principal {
    position: relative;
    display: flex;
    border: 2px solid black;
    width: 35%;
    height: 60%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2rem;
}
.image-icono {
    height: 100%;
    width: 100%;
}
.contenedorbotones {

    position: right;
    border: 5px solid blue;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
}